*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Noto Sans', sans-serif;
}

a{
  text-decoration: none;
}

h1{
  font-size: 5.2rem;
}

h2{
  font-size: 2.5rem;
}

li{
  list-style: none;
}

.singolo-team{
  text-align: center;
  line-height: 50px;
  border-bottom: 1px solid grey;
}
.pro{
  font-size: 28px;
  font-weight: bold;
}
.price{
  font-weight: bold;
  font-size: 17px;
}