/* HEADER */
header{
  background-color: white;
  width: 100vw;
  z-index: 999;
}
.head-fixed{
  position: fixed;
  height: 80px;
}

.jumbotron{
  padding-top: 80px;
  margin-bottom: 10%;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
}

nav ul li a{
  font-size: 18px;
  color: black;
  margin-right: 43px;
}

nav ul li img{
  vertical-align: middle;
  padding-bottom: 6px;
  margin-left: 20px;
}
/* HEADER */

/* JUMBOTRON */
.jumbotron{
  background-color: #b4d0e7;
}

.jumbo-img{
  background-image: url(../img/jumbo.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 65%;
}


.jumbotron .container-jumbo-foot h1{
  margin-top: 90px;
  font-weight: bold;
}

.jumbotron .container-jumbo-foot p{
  font-size: 18px;
  margin-bottom: 50px;
}

.jumbotron .container-jumbo-foot a{
  font-size: 18px;
  padding: 12px 20px;
}

.jumbotron .container-jumbo-foot p:last-of-type{
  font-size: 16px;
  font-weight: bold;
  padding-top: 22px;
}

.jumbotron .container-jumbo-foot div:first-of-type{
  position: relative;
  bottom: -80px;
}
/* JUMBOTRON */


/* MAIN */

/* PRIMA SECTION */
.plan{
  padding-bottom: 1.5rem;
}
.plan .mensile-annuale{
  height: 98px;
}
.plan h2:first-of-type{
  padding-bottom: 30px;
}
.plan .mensile-annuale .circle{
  display: inline-block;
  height: 80px;
  font-size: 50px;
  vertical-align: middle;
  color: #0061ff;
  
}

.plan .mensile-annuale span:nth-of-type(3){
  padding-left: 20px;
  color: grey;
}

.plan .prof-stand-adv{
  padding: 30px 26px;
}

.plan span.details{
  padding-left: 20px;
}
.plan li.prova{
  text-align: center;
  padding: 10px 0;
}
.plan span.acq-ora{
  color: #0061ff;
  text-decoration: underline;
}
.plan span.bottom-border{
  padding-bottom: 40px;
  border-bottom: 1px solid rgb(189, 182, 182);
}
.plan .punti-salienti{
  padding: 52px 26px;
}
.plan .first .punti-salienti{
  padding: 52px 26px 101px 26px;
}
.plan .punti-salienti li{
  padding-bottom: 28px;
}

.plan .punti-salienti li{
  font-size: 16px;
}
.plan .punti-salienti li:first-of-type{
  font-weight: bold;
  font-size: 1.1rem;
}
.plan .punti-salienti .fa-solid.fa-check{
  color: #0061ff;
  font-weight: bold;
  font-size: 16px;
}
/* PRIMA SECTION */

/* SECONDA SECTION */
.ufficio-vendite{
  margin-bottom: 7%;
}
.ufficio-vendite .internal-padding{
  padding: 36px 0 36px 36px;
  line-height: 32px;
}
.ufficio-vendite .float-right{
  text-align: center;
  font-size: 10px;
  padding: 36px 36px 36px 0;
}

.ufficio-vendite .float-right .login{
  padding: 5px;
}
/* SECONDA SECTION */

/* TERZA SECTION */
.partner{
  margin-bottom: 7%;
}
.partner .partner-img{
  height: 500px;
  background-image: url('../img/partner.png');
  background-size: cover;
  background-position: center;
}

.partner .partner-text{
  padding: 50px 50px;
}
.partner .partner-text p:nth-of-type(2){
  line-height: 35px;
  font-size: 18px;
}
.partner .partner-text a.login{
  font-size: 19px;
  background-color: white;
  color: black;
  border: 1px solid black;
}
/* TERZA SECTION */

/* QUARTA SECTION */
section.operazioni .operazioni-img img{
  width: 100%;
}

section.operazioni .descr-operazioni p:nth-of-type(2){
  font-size: 17px;
}

section.operazioni .float-left:nth-of-type(1), section.operazioni .float-left:nth-of-type(2), section.operazioni .float-left:nth-of-type(3)
{
  margin-bottom: 10%;
} 
/* QUARTA SECTION */

/* QUINTA SECTION */
.sponsor{
  height: 100vh;
}


.sponsor h2.pro{
  font-size: 45px;
}
.sponsor a{
  color: #0061ff;
  font-size: 1.1rem;
  text-decoration: underline;
}

.sponsor .laterale{
  width: 30vw;
}

.sponsor .laterale.first .float-left.sponsored:nth-of-type(1){
  background-color: #a2d39b;
}
.sponsor .laterale.first .float-left.sponsored:nth-of-type(2){
  background-color: #61082c;
}
.sponsor .laterale.first .float-left.sponsored:nth-of-type(3){
  background-color: #1d93ce;
}
.sponsor .laterale.first .float-left.sponsored:nth-of-type(4){
  background-color: #f91c1d;
}
.sponsor .laterale.second .float-left.sponsored:nth-of-type(1){
  background-color: #d5021f;
}
.sponsor .laterale.second .float-left.sponsored:nth-of-type(2){
  background-color: #b4d0e7;
}
.sponsor .laterale.second .float-left.sponsored:nth-of-type(3){
  background-color: #0d2481;
}
.sponsor .laterale.second .float-left.sponsored:nth-of-type(4){
  background-color: #fed830;
}

.sponsor .laterale .float-left.sponsored{
  position: relative;
  text-align: center;
  width: calc(30vw / 2);
  height: calc(30vw / 2);
}

.sponsor .laterale .float-left.sponsored img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc((30vw / 2) / 2);
}

.sponsor .centrale{
  width: calc(100% - 60vw);
  background-color: #f5f5f5;
}

.sponsor .centrale .float-left.sponsor-descr{
  overflow: auto;
  height: calc(30vw);
  padding: 7%;
}
.sponsor .centrale .float-left.sponsor-descr img{
  width: calc((30vw / 2) / 2);
}

.sponsor .centrale .float-left.sponsor-descr p{
  font-size: 1.1rem;
}
.sponsor .free-trial{
  background-color: #b4d0e7;
}
.sponsor .free-trial .container{
  height: 100%;
}
.sponsor .free-trial .container .float-left, .sponsor .free-trial .container .float-right{
  height: 100%;
}
/* QUINTA SECTION */

/* SESTA SECTION */
.domande .container{
  position: relative;
}
.domande .domande-frequenti{
  line-height: 100px;
}
.domande .domande-text {
  line-height: 100px;
}
.domande a{
  color: black;
}
.domande span{
  font-weight: bold;
  font-size: 2rem;
}
.domande .domande-frequenti p{
  font-size: 1.1rem;
  font-weight: bold;
  border-bottom: 1px solid #d6d6d8;
  border-top: 1px solid #d6d6d8;
}

.domande .domande-frequenti .fa-chevron-down{
  position: absolute;
  right: 0;
  line-height: 100px;
}
/* SESTA SECTION */
/* MAIN */