.container{
  width: 90%;
  max-width: 1250px;
  margin: 0 auto;
}

.container-jumbo-foot{
  width: 90%;
  max-width: 1500px;
  min-width: 600px;
  margin: 0 auto;
}

clearfix::after{
  content: '';
  display: table;
  clear: both;
}
.grey-border{
  border: 1px solid grey;
}
.black{
  color: black;
}
.grey{
  color: grey;
}
.white{
  color: white;
}
.mb12{
  margin-bottom: 12px;
}
.mb18{
  margin-bottom: 18px;
}
.mb25{
  margin-bottom: 25px;
}
.mb30{
  margin-bottom: 30px;
}
.mb35{
  margin-bottom: 35px;
}
.mb40{
  margin-bottom: 40px;
}
.mb50{
  margin-bottom: 50px;
}
.mb60{
  margin-bottom: 60px;
}
.mb75{
  margin-bottom: 75px;
}
.mb100{
  margin-bottom: 100px;
}
.login{
  background-color: #0061ff;
  color: white;
  font-size: 15px;
  padding: 7px 20px;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.w5{
  width: calc(100% / 5);
}
.w25{
  width: 25%;
}
.w28{
  width: 30%;
}
.w30{
  width: 30%;
}
.w33{
  width: 32%;
}
.w33true{
  width: calc(100% / 3);
}
.w35{
  width: 35%;
}
.w40{
  width: 40%;
}
.w50{
  width: 50%;
}
.w60{
  width: 60%;
}
.w68{
  width: 68%;
}
.w70{
  width: 70%;
}
.w75{
  width: 75%;
}
.w100{
  width: 100%;
}

/* DEBUG */
.debug{
  border: 1px solid black;
  background-color: rgba(226, 154, 154, 0.3);
}
.h50{
  min-height: 50px;
}
.h80{
  min-height: 80px;
}
.h100{
  min-height: 100px;
}
.h200{
  min-height: 200px;
}
.h300{
  min-height: 300px;
}
.h400{
  min-height: 400px;
}
.h500{
  min-height: 500px;
}
.h600{
  min-height: 600px;
}
.h750{
  min-height: 750px;
}
.h800{
  min-height: 800px;
}
.h900{
  min-height: 900px;
}
.h1000{
  min-height: 1000px;
}
.h1100{
  min-height: 1100px;
}
.h1300{
  min-height: 1300px;
}
.h1500{
  min-height: 1500px;
}
.h100pc{
  min-height: 100%;
}
section{
  /* border-bottom: 1px solid black; */
}
