.container{
  width: 90%;
  max-width: 1250px;
  margin: 0 auto;
}

.container-jumbo-foot{
  position: relative;
  width: 90%;
  max-width: 1500px;
  min-height: 830px;
  margin: 0 auto;
}

clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.login{
  background-color: #0061ff;
  color: white;
  font-size: 15px;
  padding: 7px 20px;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.w5{
  width: calc(100% / 5);
}
.w33{
  width: calc(100% / 3);
}
.w50{
  width: 50%;
}
.w70{
  width: 70%;
}
.w100{
  width: 100%;
}

/* DEBUG */
.debug{
    background-color: rgba(255, 0, 0, .3);
    border: 1px solid black;
}

.h80{
  min-height: 80px;
}
.h100{
  min-height: 100px;
}
.h200{
  min-height: 200px;
}
.h300{
  min-height: 300px;
}
.h400{
  min-height: 400px;
}
.h500{
  min-height: 500px;
}
.h600{
  min-height: 600px;
}
.h750{
  min-height: 750px;
}
.h800{
  min-height: 800px;
}
.h900{
  min-height: 900px;
}
.h1000{
  min-height: 1000px;
}
.h1300{
  min-height: 1300px;
}

section{
  border-bottom: 1px solid black;
}
/* DEBUG */
